.LocationEditWidget {
    
}

.LocationWidget {
    position:relative;
    display:inline-block;
    width:54px;
    height:54px;
    background: url('/OrchardLocal/Modules/Patrocinadores/Styles/Images/Fundo.gif') 15px 15px no-repeat;
    margin:0px 10px 0px 0px;
}
.LocationWidgetItem {
    position:absolute; 
    cursor: pointer;
    margin:0px 0px 0px 0px;
    border:solid #cccccc 1px;
}

.LocationWidgetSelect {
    margin:0px 0px 0px 0px;
}

